
    
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <td><input type="text" [(ngModel)]="nombre"></td>
        </tr>
        <tr>
          <th>Apellido</th>
          <td><input type="text" [(ngModel)]="apellido"></td>
        </tr>
        <tr>
          <th>Correo</th>
          <td><input type="email" [(ngModel)]="correo"></td>
        </tr>
        <tr>
          <th>Contraseña</th>
          <td><input type="password" [(ngModel)]="contrasena"></td>
        </tr>
       </thead>
     </table>
    
    <button  mat-button (click)="registrar()">Registrar</button>
    
    