

.container {
    border: solid 1px rgba(0, 0, 2, 0.2);
    margin: 2cm;
    background-color: rgb(0, 0, 0); 
}
.container h1 {
    text-align: center;
    background: linear-gradient(#0c86d2, #cac9d4);
    margin: 2cm;
  }

table {
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: calc(100% - 4cm);
    margin: 0 auto;
    background-color: rgb(2, 0, 0); 
}

thead {
    background: rgba(24, 31, 92, 0.4);
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(3, 2, 24, 0.4); 
}

td {
    padding: 15px;
    border-bottom: solid 1px rgba(15, 3, 37, 0.2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(11, 0, 18, 0.4);
}

.mat-tooltip {
    background-color: rgb(1, 1, 13);
    color: rgb(1, 0, 8);
  }
  
  .mat-tooltip-panel {
    background-color: rgb(0, 0, 3);
    color: rgb(3, 14, 38);
    font-size: 14px;
  }

  
  
  .mat-paginator {
    display: inline-block;
  }
  
