<div class="container">
    <h1>Noticias Vigentes</h1>
  
    <div class="search-container">
      <mat-form-field>
        <input matInput placeholder="Buscar noticias" [(ngModel)]="searchText">
      </mat-form-field>
      <button mat-icon-button (click)="searchNews()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Fecha Publicación</th>
          <th>Favoritos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let noticia of filteredNoticias">
          <td>{{ noticia.title }}</td>
          <td>{{ noticia.summary }}</td>
          <td align="center">{{ formatDate(noticia.updated_at) }}</td>
          <td align="center">
            <button mat-icon-button matTooltip="Añadir a favoritos" (click)="openLoginDialog()">
                <mat-icon>star</mat-icon>
              </button>
            
          </td>
        </tr>
      </tbody>
    </table>
  
    <mat-paginator [length]="filteredNoticias.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
  </div>
  