<h2>Login</h2>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Ingrese su usuario" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password">
    </mat-form-field>
    <button mat-button (click)="login()">Iniciar sesión</button>
    <button mat-button  (click)="registerUser()">Registrar</button>